---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

type Props = {
    entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
    entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};
---

<a
    class="group relative flex flex-col md:flex-row items-center justify-between gap-8 md:gap-12 mb-8 pb-8 border-solid border-b border-b-secondary cursor-pointer last:border-b-0"
    href={`/${entry.collection}/${entry.id}`}
>

    <div class="w-full md:max-w-[45vw] overflow-hidden border-dashed border-secondary rounded-3xl bg-white p-4">
        <img
            src={entry.data.image?.url ||
                `https://placehold.co/600x200?text=${entry.data.title}`}
            alt={entry.data.image?.alt || entry.data.title}
            class="w-full h-full object-cover"
        />
    </div>

    <div class="space-y-4 text-center md:text-left">
        <h3 class="heading text-2xl md:text-4xl max-w-xl">
            {entry.data.title}
        </h3>
        <p class="text-lg md:text-2xl text-secondary md:text-justify max-w-xl mx-auto md:mx-0">
            {entry.data.description}
        </p>
        <p class="text-secondary italic max-w-xl mx-auto md:mx-0">
            {entry.collection === "projects" && entry.data.authors && entry.data.authors.length > 0 && (
                <>
                    {entry.data.authors.join(", ")}
                    <br />
                </>
            )}
            <FormattedDate date={entry.data.date} /> {entry.collection === "projects" && entry.data.publisher && (
                <>
                    — {entry.data.publisher}
                </>
            )}
        </p>
    </div>
</a>
