---
import { SITE, SOCIALS } from "@/consts";
import { getCollection, type CollectionEntry } from "astro:content";

const Projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---

<footer class="bg-primary container mx-auto rounded-t-[80px] p-10 space-y-8">
  <div class="flex flex-col sm:flex-row sm:flex-wrap justify-between gap-10">
    <div>
      <h3 class="mb-2 text-xl">Contact</h3>
      <ul>
        <li><a href={"mailto:" + SITE.EMAIL}>E-Mail</a></li>
      </ul>
    </div>
    <div>
      <h3 class="mb-2 text-xl">Navigation</h3>
      <ul class="space-y-1 text-secondary">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div>
      <h3 class="mb-2 text-xl">Socials</h3>
      <ul class="space-y-1 text-secondary">
        {
          SOCIALS.map((link) => (
            <li>
              <a href={link.HREF}>{link.NAME}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="min-w-0 md:max-w-[300px]">
      <h3 class="mb-2 text-xl">Projects</h3>
      <ul class="space-y-1 text-secondary">
        {
          Projects.map((project) => (
            <li>
                <a class="block truncate" href={`/projects/${project.id}`}>{project.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <span class="block text-center text-sm opacity-70">
    © {SITE.TITLE}. Built with Astro
  </span>
</footer>
